body{
    background-image: url(/img/ab1.jpg);
    font-family: sans-serif;  
    margin-top: 50px;  
}
.row{

}
.container{
    display: flex;

}
.brand{
    background-image: url(/img/ab2.jpeg);
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #fff;
    border-right: none;
    height: 483px;
    z-index: 1;
    position: relative;
    width: 630px;
}
/* @media (min-width:1200px){
    .container{
        width: 1000px;
    }
} */
.form{
    background: #222c3c;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 30px 10px;
    width: 35%;
    position: absolute;
    left: 48%;
    padding-left: 50px;
    
}
.form-group{
    color: #96a2b6;
    width: 140px;
    outline: none;
    padding: 10px;
}
input:not([type=submit]){
    background: none;
    border: none;
    width: 25em;
    border-bottom: 1px solid #96a2b6;
    display: block;  
    outline: none;
    color: #fff;
    font-size: 18px;
}
h2{
    color: #96a2b6;
    font-size: 25px;
    padding-bottom: 10px;
}
.CTA{
    padding: 10px 0;
}
#submit{
    background: #00a2e5;
    width: 50%;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin-left: 37px;
    font-size: 22px;
    font-family: sans-serif;
}
.CTA a{
    text-decoration: none;
    color: #96a2b6;
    font-family: sans-serif;
    margin-left: 10px;
}
a:hover{
    color: #fff;
}
#submit:hover{
    background: red;
}
.active{
    transform: translate(-100%);
    transition: all 1s;
}
.sign-in{
    height: 483px;
}
.logo{
    margin-top: 40px;
}
.bundle{
    margin-top: 50px;
}
.turn-off{
    transform: translate(0%);
    transition: all 1s;
}
.but{
    text-align: center;
    padding-top: 200px;
}
h3{
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
}
button{
    background-color: #00a2e5;
    padding: 15px 10px;
    border-radius: 15px;
    width: 280px !important;
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
}
.show{
    display: none;
}
