/* Start Golbal Rules */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* small */
@media (min-width:786px) {
    .container{
        width: 750px;
    }
}
/* Mieduem */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Header */
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width:60px;
}
.header .container .links{
    position: relative;
}
.header .links ul{
    list-style: none;
    background-color: #f6f6f6;
    min-width: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(100% + 20px);
    right: 6px;
    display: none;
    z-index: 1;
}
.header .links ul:before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 0px;
    top: -20px;
}
.header .links ul li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #222;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
.header .links ul li:hover {
    transition: 0.7s;
    padding-left: 15px;
}
html{
    scroll-behavior: smooth;
}
.showSideBar{
    display: block !important;
}
.icon-user{
    font-size: 30px;
    color: cornflowerblue;
    cursor: pointer;
}
.icon-menu{
    font-size: 30px;
    color: #222;
    display: inline-block;
    padding-right: 13px;
    cursor: pointer;
}
.icons{
    position: relative;
    right: -36px;
}
/* End Header */
/* Start Landing */
.Landing{
    background-image: url(/img/download.jpg);
    background-size: cover;
    height: calc(100vh - 85px);
    position: relative;
    margin-top: -10px;
}
.intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    max-width: 100%;
}
.Landing .intro-text h1{
    font-size: 50px;
    font-weight: bold;
    color: #10acb7;
}
.Landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* End  Landing */
/* Start features  */
.Features{
    padding: 60px 0;
    background-color: #f6f6f6;
}
.Features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.Features .container .feat{
    text-align: center;
    padding: 20px;
}
.Features .container .feat i{
    color: #10acb7;
    font-size: 30px;
}
.Features .container .feat h3{
    font-weight: 800;
}
.Features .container .feat p{
    font-size: 17px;
    line-height: 1.8;
    color: #777;
}
/* End features  */
/* Start Special Heading */
.special-heading{
    text-align: center;
    font-size: 100px;
    margin: 0;
    color: #ebecde;
    letter-spacing: -3px;
}
.special-heading +p{
    text-align: center;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 40px;
}
@media (max-width:400px){
    .special-heading{
        font-size: 60px;
    }
}
/* End Special Heading */
/* Start Services */
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media(max-width:760px){
    .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
    .feat{
        flex-direction: column;
        text-align: center; 
    }
    .services-content .image{
        display: none;
    }
}
.services-content i{
    flex-basis: 60px;
    color: #10acb7;
    font-size: 30px;
}
.services-content .text{
    flex: 1;
}
.services-content h3{
    margin: 0;
}
.services-content  p{
    color: #444;
    font-weight: 300;
    line-height: 1.4;
}
.col .image{
    position: relative;
}
.col .image::before{
    content: '';
    position: absolute;
    width: 80px;
    height: calc(100% + 100px);
    background-color: #2c4755;
    top: -50px;
    right: 145px;
    z-index: -1;
}

/* End Services */

/* Start Portfolio */
.portfolio{
    padding: 60px 0;
    background-color: #ddd;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio-content .card{
    background-color: white;
}
.portfolio-content .card img{
    width: 100%;
    height: 211px;
}
.portfolio-content .card .info{
    padding: 10px;
}
.portfolio-content .card h3{
    margin: 0;
}
.portfolio-content .card p{
    margin-bottom: 0;
    line-height: 1.6;
}
@media(max-width:675px){
    .portfolio-content .card .info{
        text-align: center;
    }
}
/* End Portfolio */
/* Start about */
.about{
    padding: 60px 0;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .image{
    height: 375px;
    width: 250px;
    position: relative;
}
.about .about-content .image::before{
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebecde;
    top: -40px;
    z-index: -1;
    left: -18px;
}
.about .about-content .image::after{
    content: '';
    position: absolute;
    width: 80px;
    border-left: 80px solid #10cab7;
    height: 320px;
    border-bottom: 80px solid #10cab7;
    top: -50px;
    left: 201px;
    z-index: -1;
}
.about .about-content .image img{
    width: 100%;
    height: 100%;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    line-height: 2;
    font-weight: bold;
}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: #10cab7;
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
@media(max-width:997px){
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .image::before,
    .about .about-content .image::after{
        display: none;
    }
    .about .about-content .image{
        margin: 0 auto 60px;
    }
}
/* End about */

/* Start Contact */
.contact{
    background-color: #ddd;
    padding: 60px 0;
}
.contact .info{
    text-align: center;
    margin: 60px 0;
}
.contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info a{
    display: block;
    font-weight: 800;
    text-decoration: none;
    font-size: 35px;
    color: #10cab7;
    margin-bottom: 15px;
}
.contact .info .social{
    display: flex;
    justify-content: center;
}
.contact .info .social i:first-child{
    margin-left: 5px;
    
}
.contact .info .social i{
    font-size: 18px;
    color: #444;
}
@media(max-width:500px){
    .contact .info .label,
    .contact .info a{
        font-size: 25px;
    }
}
/* End Contact */
/* Start Footer */
.footer{
    color: white;
    padding: 15px 10px;
    text-align: center;
    background-color: #2c4755;
    font-size: 18px;
}
.footer span{
    font-weight: 800;
    color: #10cab7;
}
/* End Footer */


